<% const data = {
    'title': 'Новости',
    'flowContainerClass' : 'flow-container--main',
    'tag': 'false',
    'isNavigation': 'no'
} %>

<%- require("../layouts/header.ejs")(data) %>
    <main>
        <div class="container">
            <%- require("../section/news-list-header.ejs")(data) %>
            <%- require("../section/news-list-main.ejs")() %>
            <%- require("../section/news-video.ejs")() %>
            <%- require("../section/news-slider.ejs")() %>
        </div>
    </main>
<%- require("../layouts/footer.ejs")() %>
